@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

* {
   font-family: "Roboto Mono", monospace;
   margin: 0;
   padding: 0;
}
:root {
   --white-background: #ffffff;
   --secondary-black-forga: #16171d;
   --color-dark-blue: #101014ff;
   --color-mid-blue: #16171d;
   --color-light-blue: #1f2128;
   --text-font: #5e5d7a;
   --text-font-darker: rgb(41, 40, 40);
   --text-font-hover: #5f46ba;
   --text-font-size: 14px;
}
html {
   scroll-behavior: smooth;
}
body {
   background-color: var(--white-background);
   /* background: rgb(25, 22, 66);
   background: linear-gradient(90deg, rgba(25, 22, 66, 1) 1%, rgba(137, 109, 147, 1) 50%, rgba(25, 22, 66, 1) 93%); */
}
.header {
   background-color: white !important;
   /* margin: 0 60px; */
   width: 100%;
   position: fixed;
   top: 0;
   z-index: 10;
}
a {
   color: var(--text-font-darker);
}
a:link {
   text-decoration: none;
}
.logo > img {
   margin-top: 10px;
   height: 70px;
}
nav {
   /* background-color:#5e5d7a; */
   align-items: center;
   display: flex;
   justify-content: space-between;
   padding: 0% 5% 0 3%;
}
.half-border::before {
   content: "";
   /* position: absolute; */
   display: block;
   width: 10%;
   height: 3px;
   top: 0;
   left: 0;
   background-color: #5f46ba;
   transform: scaleX(1);
   transform-origin: top left;
   transition: transform 0.5s ease;
}
.nav-links {
   letter-spacing: 2px;
   font-size: var(--text-font-size);
   font-weight: bolder;
}
.ul-navs > li {
   /* border: solid #292929 3px; */
   display: inline-block;
   /* background-color: #5f46ba; */
   list-style: none;
   /* padding: 20px; */
   padding: 10px 10px;
   transition: 0.2s ;
}
.ul-navs a {
   /* padding: 10px 20px; */
   position: relative;
   /* color: #000; */
}
.ul-navs a::before {
   content: "";
   position: absolute;
   display: block;
   width: 100%;
   height: 2px;
   bottom: 0;
   left: 0;
   background-color: #5f46ba;
   transform: scaleX(0);
   transform-origin: top left;
   transition: transform 0.5s ease;
}
.ul-navs  a:hover {
   /* color: #000; */
   cursor: pointer;
   padding-bottom: 5px;
   /* border-bottom: solid var(--text-font-hover) 3px; */
}
.ul-navs a:hover::before {
   transform: scaleX(1);
}
/* Home Page */
.home-page {
   /* align-items: center; */
   display: flex;
   /* justify-content: center; */
   /* background-color: beige; */
   margin: 120px 60px;
   height: 85vh;
   position: relative;
}
.my-pic {
   /* margin: 0 20px; */
   margin: 80px 100px;
   /* background-color: red; */
   min-width: 550px;
   height: 580px;
   width: 550px;
   position: relative;
   /* width: 35%; */
}
.my-pic::before {
   width: 23%;
}
.my-pic > img {
   /* margin-top: 50px; */
   bottom: 0;
   height: 90%;
   width: 100%;
   object-fit: cover;
   position: absolute;
}
.home-intro {
   /* background-color: bisque; */
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
   height: 500px;
   width: 40%;
   margin: 20px 40px;
   padding: 20px;
}
.home-intro > p {
   margin: 40px 30px;
   line-height: 2.8rem;
   text-align: justify;
}
.home-intro span {
   margin-left: 40px;
}
.page-nav-container {
   align-items: center;
   display: flex;
   flex-direction: column;
   position: fixed;
   padding: 0 20px;
   top: 50%;
}
.nav-details, .nav-details2, .nav-details3, .nav-details4 {
   /* display: none; */
   font-size: 20px;
   height: 30px;
   width: 120px;
   justify-content: center;
   position: absolute;
   text-align: justify;
   transition: 0.6s ease;
   opacity: 0;
}
.nav-details {
   right: -220%;
   top: -5%;
}
.nav-details2 {
   right: -220%;
   top: 20%;
}
.nav-details3 {
   right: -220%;
   top: 45%;
}
.nav-details4 {
   right: -220%;
   top: 70%;
}
.nav-details span, .nav-details2 span , 
.nav-details3 span, .nav-details4 span{
   font-size: 15px !important;
}
.page-nav-container a {
   color: var(--text-font-darker);
   font-size: 18px;
   padding: 2px 0;
   transition: 0.6s ease;
}
.nav1:hover  ~ .nav-details,
.nav2:hover  ~ .nav-details2,
.nav3:hover  ~ .nav-details3,
.nav4:hover  ~ .nav-details4
{
   opacity: 1;
}
.page-nav-container a:hover {
   cursor: pointer;
   transform: translateX(10px);
   /* font-size: 28px; */
}
.social-media  {
   align-items: center;
   /* background-color: #5f46ba; */
   display: flex;
   flex-direction: column;
   position: absolute;
   padding: 0 20px;
   top: 85%;
   right: 0;
}
.social-media i {
   color: var(--text-font-darker);
   font-size: 15px;
   padding: 10px 0;
}
.social-media i:hover {
   cursor: pointer;
   color: var(--text-font-hover);
}
/* Personal Details Section */
.personal-section {
   /* align-items: center; */
   /* background-color: bisque ; */
   display: flex;
   /* max-height: 85vh; */
   height: 125vh;
   /* justify-content: center; */
   /* margin: 100px 60px; */
   margin: 0 60px;
}
.personal-container {
   /* background-color: #5f46ba; */
   height: 650px;
   /* height: 85%; */
   width: 90%;
   max-width: 1300px;
   margin: 40px 100px;
   /* position: relative; */
}
.personal {
   /* background-color: aqua; */
   max-height: 570px;
   /* min-width: 550px; */
   max-width: 550px;
   height: 570px;
   width: 550px;
   position: absolute;
}
.personal-list {
   background-color: white;
   box-shadow: rgba(100, 100, 111, 0.2) 0px 0px 29px 0px;
   /* width: 550px; */
   max-width: 550px;
   margin: 80px 0px;
   padding: 80px 40px;
   z-index: 9;
}
.personal-list p {
   line-height: 2.8rem;
   /* text-align: justify; */
}
.list-picker {
   /* background-color: #5f46ba; */
   margin: 40px 0;
}
.pick-lists {
   color: var(--text-font);
   padding: 20px 0;
   position: relative;
}
.pick-lists span {
   font-size: 14px;
   /* color: var(--text-font); */
   color: #a1a1a1;
   right: 2%;
   position: absolute;
   transition: 0.6s ease;
}
.pick-lists:hover, .pick-lists:hover span {
   color: var(--color-light-blue);
   cursor: pointer;
}
.pick-lists:hover span {
   transform: rotate(-90deg);
}
.personal-list-details {
   /* transform: scaleX(1); */
   /* background-color: red; */
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
   width: 80%;
   max-width: 1095px;
   margin: 30px 160px;
   /* margin: 0 185px; */
}
.education-section {
   /* background-color: aliceblue; */
   display: flex;
   height: 85vh;
   justify-content: center;
   margin: 100px 60px;
}
.education-info {
   background-color: #5e5d7a;
   height: 50%;
   margin: 40px;
}
.csharp, .cplus {
   height: 15px;
}
.python-logo {
   height: 20px;
}