@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

* {
   font-family: "Roboto Mono", monospace;
   margin: 0;
   padding: 0;
}
:root {
   --white-background: #ffffff;
   --secondary-black-forga: #16171d;
   --color-dark-blue: #101014ff;
   --color-mid-blue: #16171d;
   --color-light-blue: #1f2128;
   --text-font: #5e5d7a;
   --text-personal-details-color: #a1a1a1;
   /* #292828 */
   --text-font-darker: rgb(41, 40, 40);
   --text-font-hover: #5f46ba;
   --text-font-size: 14px;
}
html {
   scroll-behavior: smooth;
}
body {
   background-color: var(--white-background);
   /* background: rgb(25, 22, 66);
   background: linear-gradient(90deg, rgba(25, 22, 66, 1) 1%, rgba(137, 109, 147, 1) 50%, rgba(25, 22, 66, 1) 93%); */
}
.header {
   background-color: white !important;
   /* margin: 0 60px; */
   width: 100%;
   position: fixed;
   top: 0;
   z-index: 10;
}
a {
   color: var(--text-font-darker);
}
a:link {
   text-decoration: none;
}
.logo > img {
   margin-top: 10px;
   height: 70px;
}
nav {
   /* background-color:#5e5d7a; */
   align-items: center;
   display: flex;
   justify-content: space-between;
   padding: 0% 5% 0 3%;
}
.half-border::before {
   content: "";
   /* position: absolute; */
   display: block;
   width: 10%;
   height: 3px;
   top: 0;
   left: 0;
   background-color: #5f46ba;
   transform: scaleX(1);
   transform-origin: top left;
   transition: transform 0.5s ease;
}
.nav-links {
   letter-spacing: 2px;
   font-size: var(--text-font-size);
   font-weight: bolder;
}
.ul-navs > li {
   /* border: solid #292929 3px; */
   display: inline-block;
   /* background-color: #5f46ba; */
   list-style: none;
   /* padding: 20px; */
   padding: 10px 10px;
   transition: 0.2s ;
}
.ul-navs a {
   /* padding: 10px 20px; */
   position: relative;
   /* color: #000; */
}
.ul-navs a::before {
   content: "";
   position: absolute;
   display: block;
   width: 100%;
   height: 2px;
   bottom: 0;
   left: 0;
   background-color: #5f46ba;
   transform: scaleX(0);
   transform-origin: top left;
   transition: transform 0.5s ease;
}
.ul-navs  a:hover {
   /* color: #000; */
   cursor: pointer;
   padding-bottom: 5px;
   /* border-bottom: solid var(--text-font-hover) 3px; */
}
.ul-navs a:hover::before {
   transform: scaleX(1);
}
/* Home Page */
.home-page {
   /* align-items: center; */
   display: flex;
   /* justify-content: center; */
   /* background-color: beige; */
   margin: 120px 60px;
   height: 85vh;
   position: relative;
}
.my-pic {
   /* margin: 0 20px; */
   margin: 80px 100px;
   /* background-color: red; */
   min-width: 550px;
   height: 580px;
   width: 550px;
   position: relative;
   /* width: 35%; */
}
.my-pic::before {
   width: 23%;
}
.my-pic > img {
   /* margin-top: 50px; */
   bottom: 0;
   height: 90%;
   width: 100%;
   object-fit: cover;
   position: absolute;
}
.home-intro {
   /* background-color: bisque; */
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
   height: 500px;
   width: 40%;
   margin: 20px 40px;
   padding: 20px;
}
.home-intro > p {
   margin: 40px 30px;
   line-height: 2.8rem;
   text-align: justify;
}
.home-intro span {
   margin-left: 40px;
}
.page-nav-container {
   align-items: center;
   display: flex;
   flex-direction: column;
   position: fixed;
   padding: 0 20px;
   top: 50%;
}
.nav-details, .nav-details2, .nav-details3, .nav-details4 {
   /* display: none; */
   font-size: 20px;
   height: 30px;
   width: 120px;
   justify-content: center;
   position: absolute;
   text-align: justify;
   transition: 0.6s ease;
   opacity: 0;
}
.nav-details {
   right: -220%;
   top: -5%;
}
.nav-details2 {
   right: -220%;
   top: 20%;
}
.nav-details3 {
   right: -220%;
   top: 45%;
}
.nav-details4 {
   right: -220%;
   top: 70%;
}
.nav-details span, .nav-details2 span , 
.nav-details3 span, .nav-details4 span{
   font-size: 15px !important;
}
.page-nav-container a {
   color: var(--text-font-darker);
   font-size: 18px;
   padding: 2px 0;
   transition: 0.6s ease;
}
.nav1:hover  ~ .nav-details,
.nav2:hover  ~ .nav-details2,
.nav3:hover  ~ .nav-details3,
.nav4:hover  ~ .nav-details4
{
   opacity: 1;
}
.page-nav-container a:hover {
   cursor: pointer;
   transform: translateX(10px);
   /* font-size: 28px; */
}
.social-media  {
   align-items: center;
   /* background-color: #5f46ba; */
   display: flex;
   flex-direction: column;
   position: absolute;
   padding: 0 20px;
   top: 85%;
   right: 0;
}
.social-media i {
   color: var(--text-font-darker);
   font-size: 15px;
   padding: 10px 0;
}
.social-media i:hover {
   cursor: pointer;
   color: var(--text-font-hover);
}
/* Personal Details Section */
.personal-section {
   /* align-items: center; */
   /* background-color: bisque ; */
   display: flex;
   /* max-height: 85vh; */
   height: 105vh;
   /* justify-content: center; */
   /* margin: 100px 60px; */
   margin: 0 60px;
}
.personal-container {
   /* background-color: #5f46ba; */
   height: 650px;
   /* height: 85%; */
   width: 90%;
   max-width: 1300px;
   margin: 40px 100px;
   /* position: relative; */
}
.personal {
   /* background-color: aqua; */
   /* max-height: 570px; */
   /* min-width: 550px; */
   /* max-width: 550px; */
   height: 570px;
   width: 550px;
   position: absolute;
}
/* Left Container */
.personal-list {
   background-color: white;
   box-shadow: rgba(100, 100, 111, 0.2) 0px 0px 29px 0px;
   height: 450px;
   /* width: 550px; */
   /* max-width: 550px; */
   margin: 80px 0px;
   padding: 80px 40px;
   z-index: 9;
}
.personal-list p {
   line-height: 2.8rem;
   /* text-align: justify; */
}
/* Personal Details Section - List Picker */
.list-picker {
   /* background-color: #5f46ba; */
   font-size: 15px;
   margin: 40px 0;
}
.pick-lists {
   color: var(--text-font);
   padding: 20px 0;
   position: relative;
}
.pick-lists span {
   font-size: 14px;
   /* color: var(--text-personal-details-color); */
   right: 2%;
   position: absolute;
   transition: 0.6s ease;
}

.pick-lists:hover  {
   color: var(--text-font-darker) !important;
   cursor: pointer;
}
/* .pick-lists:hover span {
   transform: rotate(-90deg);
} */
/* List Picker - Hidden Info */
.hide-pick-list1, .hide-pick-list2,
.hide-pick-list3, .hide-pick-list4 {
   display: none;
   transition: opacity 0.5s;
   /* background-color: aquamarine; */
}
.hide-pick-list1 span, .hide-pick-list2 span, 
.hide-pick-list3 span, .hide-pick-list4 span {
   color: var(--text-font-darker);
   line-height: 1.5rem;
}
.show-hidden-info {
   background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
   box-sizing: border-box;
   color: var(--white-background);
   cursor: pointer;
   flex-shrink: 0;
   font-size: 14px;
   letter-spacing: 2px;
   margin: 20px 0 10px 0;
   height: 3.3rem;
   padding: 0 1rem 0 1.2rem;
   user-select: none;
   text-align: center;
   text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
   /* transition:  all  .5s; */
}
.show-right, .show-right2, .show-right3 {
   color: var(--white-background);
   /* transition: all .5s; */
}
.show-right:hover .show-right2:hover, .show-right3:hover {
   transform: translateX(20px);
}
.show-hidden-info:hover {
   /* padding-right: 40px; */
   /* box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px; */
   /* cursor: pointer; */
   /* transition: .1s; */
}
.personal-list-details {
   /* transform: scaleX(1); */
   background-image: url(/images/wp.jpg);
   background-size: cover;
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
   width: 90%;
   /* max-width: 1095px; */
   margin: 20px 100px;
   position: relative;
   /* margin: 0 185px; */
}
.list-modal {
   opacity: 0;
   /* background-color: var(--text-font-hover); */
   /* border: solid var(--text-personal-details-color) 0.5px; */
   background-color: white;
   box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
   height: 390px;
   margin: 3rem 2.5rem;
   padding: 40px;
   position: absolute;
   right: 0;
   width: 40%;
}
/* .personal-info, .personal-info2, .personal-info3 {display: none;} */
.personal-info, .personal-info2 {
   display: none;
   margin-top: 1.4rem;
   /* background-color: #455EB5; */
   color: var(--text-font-darker);
   /* display: none; */
}
.personal-info3 {
   display: none;
   margin-top: 0rem;
   color: var(--text-font-darker);
   /* background-color: #5643CC; */
   /* display: block !important; */
}
.personal-info > p, .personal-info2 > p {
   /* color: var(--text-font-darker); */
   line-height: 2.1rem;
   font-size: 0.9rem;
}
.college, .senior-high, .highschool, .elem {
   padding: 1.3rem 0;
   list-style: none;
   line-height: 1.5rem;
}
.senior-high-section, .highschool-section {
   /* margin-top: 1.5rem; */
}
.college-name, .college-prog, 
.shs-name, .shs-prog, .highschool-name {
   font-size: 0.9rem;
}
.college-year, .shs-year, .hs-year{
   font-weight: bolder;
   position: absolute;
   right: 2.4rem;
}
.education-section {
   /* background-color: aliceblue; */
   display: flex;
   height: 85vh;
   justify-content: center;
   margin: 100px 60px;
}
.education-info {
   height: 50%;
   margin: 40px;
}
/* Skills Slider */
.skills-slider {
   /* background-color: #5643CC; */
   height: 100%;
   position: relative;
   width: 100%;
   overflow: hidden;
}
.skills-slide {
   display: grid;
   grid-template-rows: 5rem 9rem 8rem;
   gap: 20px;
   height: 100%;
   position: absolute;
   width: 100%;
   transition: all 0.6s ease;
}
.skills-item {
   /* background-color: red; */
   align-items: center;
   color: var(--text-font-darker);
   display: flex;
   font-size: 28px;
   justify-content: center;
   transition: 0.6s ease;
}
.js-details {
   /* background-color: aqua; */
   font-size: 14px;
   padding-left: 1rem;
   text-align: justify;
   /* border-top: solid red 4px; */
   position: relative;
}
/* .js-details::before {
   content: "";
   display: block;
   width: 20%;
   height: 3px;
   top: 0;
   left: 0;
   background-color: var(--text-font-hover);
   position: absolute;
   transform: scaleX(1);
   transform-origin: top left;
   transition: 0.5s ease;
} */
.btn-previous, .btn-next {
   color: var(--text-font);
   /* background-color: #455EB5; */
   border-radius: 5px;
   /* color: var(--text-font); */
   cursor: pointer;
   font-size: 15px;
   position: absolute;
   transition: 0.25s ease;
   transform: rotate(45deg);
   top: 45%;
   padding: 5px;
}
.btn-next {right: 0%;}
.btn-previous {left: 0%;}
.btn-previous:hover, .btn-next:hover {
   /* color: var(--text-font-hover); */
   border: 0;
   color: var(--text-font-hover);
   padding: 5px;
   transform: rotate(0);
   /* transform: translateX(-90px); */
}
.js-img {
   display: block;
   margin-left: auto;
   margin-right: auto;
}
/* .skills-slide > span {
   display: flex;
   justify-content: center;
   grid-column-start: 1;
   background-color: blue;
}
.skills-slide > img {
   background-color: green;
   align-items: center;
   display: flex;
   justify-content: center;
   height: 8rem ;
   margin-left: 5rem;
} */
.skills-section {
   /* background-color: red; */
   height: 85vh;
   display: flex;
}
.skills {
   display: flex;
   align-items: center;
   /* background-color: antiquewhite; */
   margin-top: 0.5rem;
}
.skills-name {
   font-size: 1rem;
   font-weight: bolder;
   margin-left: 3rem;
}
/* .javascript, .css, .sqlite, .cplus {
   height: 2.6rem;
}
.sqlite {
   height: 2.6rem;
}
.html, .angular, .spring, .git{  
   height: 2.6rem;
} */
.gallery-section {
   /* background-color: #455EB5; */
   height: 500vh;  /* Adjustable Height */
   margin: 0 60px;
}
/* fr = fraction */
.gallery-container {
   /* background-color: antiquewhite; */
   display: grid;
   grid-template-columns: repeat(8, 1fr);
   grid-template-rows: repeat(8, 14vw);
   grid-gap: 10rem 4rem;
   /* gap: 50px; */
   height: 80%;
   margin: 40px 100px;
}
.my-pictures {
   /* align-items: center; */
   /* background-color: red; */
   color: var(--text-font-darker);
   display: flex;
   font-size: 2rem;
   justify-content: end;
   font-style: italic;
   /* justify-content: center; */
   grid-column-start: 2;
   grid-column-end: 5;
   grid-row-start: 1;
   grid-row-end: 2;
   padding: 20px;
}
.gallery-image {
   width: 100%;
   height: 100%;
   object-fit: cover;
}
/* .image1 {object-fit: contain;} */
.gallery-item-1 {
   /* background-color: blue; */
   /* padding: 20px; */
   height: auto;
   /* height: 700px; */
   grid-row-start: 1;
   grid-row-end: 3;
   grid-column-start: 5;
   grid-column-end: 9;
}
.gallery-item-2 {
   background-color: green;
   margin-left: 40px;
   /* margin-top: 200px; */
   grid-column-start: 1;
   grid-column-end: 5;
   grid-row-start: 2;
   grid-row-end: 4;
}
.gallery-item-3 {
   background-color: yellow;
   /* padding: 20px; */
   grid-column-start: 5;
   grid-column-end: 9;
   grid-row-start: 3;
   grid-row-end: 6;
}
.gallery-item-4 {
   grid-column-start: 1;
   grid-column-end: 5;
   grid-row-start: 4;
   grid-row-end: 6;
}
/* .solo-my-pictures {
   object-fit: cover;
   border: solid #5643CC 3px;
   width: 100px;
   height: 100px;
} */